:root {
  --size-search: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Searchbar */
form {
  text-align: center;
  position: sticky;
  top: 1rem;
  margin: 1rem;
  z-index: 10;
}

form > div {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

form input, form button {
  width: var(--size-search);
  height: var(--size-search);
  border-radius: 50%;
  transition: 1s;
}

form button {
  text-align: center;
  border: none;
  position: absolute;
  right: 0;
  background-color: white;
}

form button svg {
  height: calc(var(--size-search) / 2);
}

form input {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
  padding: calc(var(--size-search) / 2);
}

form button:hover ~ input {
  width: 40vw;
  transition: 1s;
  border-radius: var(--size-search);
}

input:hover {
  width: 40vw;
  border-radius: var(--size-search);
}


/* List with photos */
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  margin: 1rem;
}

img {
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

@media screen and (min-width: 600px) {
  ul {
    justify-content: space-between;
  }
}
